<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<% if (dashboards.length) { %>

<h1 class="mb-4 text-center">Meus dashboards de vídeo</h1>

<div aria-label="meus-dashboards-de-curso">
    <% for (let dashboard of dashboards) { %>
    <div class="card border-2 mb-3 p-5 d-flex flex-column justify-content-between">
        <h2 class="card-title fs-2">
            <%= dashboard.title %>
        </h2>
        <ul role="menubar" class="card-body" aria-label="ações-do-dashboard-<%= dashboard.title %>" id="<%= dashboard.title %>actions">
            <% if (typeof dashboard.playlistId !== 'undefined' && 
                dashboard.playlistId !== '') { %>
            <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" target="_blank" href="https://youtube.com/playlist?list=<%= dashboard.playlistId %>">
                Playlist do curso<span class="visually-hidden"> do dashboard <%= dashboard.title %></span> 
            </a></li>
            <% } %>
            <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" href="/videoDashboards/<%= dashboard._id %>">
                Editar dashboard<span class="visually-hidden"> <%= dashboard.title %></span>    
            </a></li>
            <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" target="_blank" href="/videoDashboards/<%= dashboard._id %>/dash">
                Ver dashboard<span class="visually-hidden"> <%= dashboard.title %></span>   
            </a></li>
        </ul>
    </div> 
    <% } %>
</div>

<% } else { %>
Parece que você ainda não tem nenhum dashboard de vídeo, gostaria de criar um? <a href="/videoDashboards/new">Criar
    dashboard de vídeo.</a>
<% } %>

<%- include('../partials/footer'); -%>