<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="application/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <title><%= dashboard.title %></title>
    <link rel="icon" type="image/x-icon" href="/imgs/favicon/favicon.ico">
    <style>
        .gradient-bg {
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 2%, rgba(121, 9, 119, 1) 50%, rgba(255, 89, 0, 1) 100%);
        }

        .gradient-bg-2 {
            background: rgb(244, 255, 105);
            background: linear-gradient(180deg, rgba(255, 164, 90, 1) 0%, rgba(244, 255, 105, 1) 50%, rgba(242, 93, 255, 1) 100%);
        }
    </style>
</head>

<body>
    <div class="container-fluid bg-secondary">
        <!-- Classes -->
        <div class="row py-2 px-5 bg-dark">
            <% if (!dashboard.environmentUrl && !dashboard.forumUrl) { %>
            <div class="col-12 col-lg-6 text-center text-lg-start">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="#"><%= dashboard.title %></a>
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle fs-5" id="aulas" data-bs-toggle="dropdown"
                        aria-expanded="false">Aulas</button>
                    <ul class="dropdown-menu" aria-labelledby="aulas">
                        <% if (dashboard.classes.length) { for (let i = 0; i < dashboard.classes.length; i++) { %>
                        <li><a class="dropdown-item fs-5"
                                href="/courseDashboards/<%= dashboard._id %>/dash/<%= i %>">Aula <%= i + 1 %>
                                <% if (dashboard.classes[i].title) { %>
                                : <%= dashboard.classes[i].title %>
                                <% } %></a>
                        </li>
                        <% }} %>
                    </ul>
                </div>
            </div>
            <% } else if (!dashboard.environmentUrl) { %>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="#"><%= dashboard.title %></a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="<%= dashboard.forumUrl %>"
                    target="_blank">Fórum</a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle fs-5" id="aulas" data-bs-toggle="dropdown"
                        aria-expanded="false">Aulas</button>
                    <ul class="dropdown-menu" aria-labelledby="aulas">
                        <% if (dashboard.classes.length) { for (let i = 0; i < dashboard.classes.length; i++) { %>
                        <li><a class="dropdown-item fs-5"
                                href="/courseDashboards/<%= dashboard._id %>/dash/<%= i %>">Aula <%= i + 1 %>
                                <% if (dashboard.classes[i].title) { %>
                                : <%= dashboard.classes[i].title %>
                                <% } %></a>
                        </li>
                        <% }} %>
                    </ul>
                </div>
            </div>
            <% } else if (!dashboard.forumUrl) { %>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="#"><%= dashboard.title %></a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="<%= dashboard.environmentUrl %>"
                    target="_blank">Ambiente da disciplina</a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle fs-5" id="aulas" data-bs-toggle="dropdown"
                        aria-expanded="false">Aulas</button>
                    <ul class="dropdown-menu" aria-labelledby="aulas">
                        <% if (dashboard.classes.length) { for (let i = 0; i < dashboard.classes.length; i++) { %>
                        <li><a class="dropdown-item fs-5"
                                href="/courseDashboards/<%= dashboard._id %>/dash/<%= i %>">Aula <%= i + 1 %>
                                <% if (dashboard.classes[i].title) { %>
                                : <%= dashboard.classes[i].title %>
                                <% } %></a>
                        </li>
                        <% }} %>
                    </ul>
                </div>
            </div>
            <% } else { %>
            <div class="col-12 col-lg-3 text-center">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="#"><%= dashboard.title %></a>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="<%= dashboard.environmentUrl %>"
                    target="_blank">Ambiente da disciplina</a>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="<%= dashboard.forumUrl %>"
                    target="_blank">Fórum</a>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle fs-5" id="aulas" data-bs-toggle="dropdown"
                        aria-expanded="false">Aulas</button>
                    <ul class="dropdown-menu" aria-labelledby="aulas">
                        <% if (dashboard.classes.length) { for (let i = 0; i < dashboard.classes.length; i++) { %>
                        <li><a class="dropdown-item fs-5"
                                href="/courseDashboards/<%= dashboard._id %>/dash/<%= i %>">Aula <%= i + 1 %>
                                <% if (dashboard.classes[i].title) { %>
                                : <%= dashboard.classes[i].title %>
                                <% } %></a>
                        </li>
                        <% }} %>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>

        <!-- Class parts -->
        <div class="row py-2">
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-secondary" aria-current="page" href="#preClassMaterial">Pré-aula</a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-secondary" aria-current="page" href="#forClassMaterial">Para a
                    aula</a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-secondary" aria-current="page" href="#postClassMaterial">Pós-aula</a>
            </div>
        </div>
    </div>

    <main class="gradient-bg-2">
        <div id="preClassMaterial" class="container-fluid py-2 mb-3 pre-class-bg">
            <div class="row">
                <h1 class="col-12 text-center">Pré-aula</h1>
            </div>

            <div class="row mx-5 mb-3 bg-dark" style="height: 5px"></div>

            <!-- Pre-class material (essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Essencial</h2>
            </div>
            <%- include("./courseDashboardParts/essentialPreClass") %>

            <!-- Pre-class material (non-essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Não essencial</h2>
            </div>
            <%- include("./courseDashboardParts/nonEssentialPreClass") %>
        </div>


        <div id="forClassMaterial" class="container-fluid py-2 mb-3 for-class-bg">
            <div class="row">
                <h1 class="col-12 text-center">Para a aula</h1>
            </div>

            <div class="row mx-5 mb-3 bg-dark" style="height: 5px"></div>

            <!-- For class material (essential) -->
            <div class="row border-bottom">
                <h2 class="col-12">&#10148;&nbsp;Essencial</h2>
            </div>
            <%- include("./courseDashboardParts/essentialForClass") %>

            <!-- For class material (non-essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Não essencial</h2>
            </div>
            <%- include("./courseDashboardParts/nonEssentialForClass") %>
        </div>

        <div id="postClassMaterial" class="container-fluid py-2 post-class-bg">
            <div class="row">
                <h1 class="col-12 text-center">Pós-aula</h1>
            </div>

            <div class="row mx-5 mb-3 bg-dark" style="height: 5px"></div>

            <!-- Post-class material (essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Essencial</h2>
            </div>
            <%- include("./courseDashboardParts/essentialPostClass") %>

            <!-- Post-class material (non-essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Não essencial</h2>
            </div>
            <%- include("./courseDashboardParts/nonEssentialPostClass") %>
        </div>
    </main>

    <script src="../../../js/videoControls.js">
    </script>
    <script src="../../../js/disableBtns.js">
    </script>
</body>

</html>