<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="application/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <title><%= dashboard.title %></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand px-4" href="#"><%= dashboard.title %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Início</a>
                    </li> -->
                    <% if (dashboard.environmentUrl) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= dashboard.environmentUrl %>" target="_blank"
                            aria-disabled="true">Ambiente da
                            disciplina</a>
                    </li>
                    <% } %>
                    <% if (dashboard.videos[videoIndex].supportMaterial.length) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Material de
                            apoio</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <% for (let i = 0; i < dashboard.videos[videoIndex].supportMaterial.length; i++) { %>
                            <% if (dashboard.videos[videoIndex].supportMaterial[i]) { %>
                            <li><a class="dropdown-item" href="<%= dashboard.videos[videoIndex].supportMaterial[i] %>"
                                    target="_blank">Material
                                    de apoio <%= i + 1 %></a></li>
                            <% } %>
                            <% } %>
                        </ul>
                    </li>
                    <% } %>
                    <% if (dashboard.videos[videoIndex].inClassExercises.length) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Exercícios
                            em aula</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <% for (let i = 0; i < dashboard.videos[videoIndex].inClassExercises.length; i++) { %>
                            <% if (dashboard.videos[videoIndex].inClassExercises[i]) { %>
                            <li><a class="dropdown-item" href="<%= dashboard.videos[videoIndex].inClassExercises[i] %>"
                                    target="_blank">Exercício em aula
                                    <%= i + 1 %></a></li>
                            <% } %>
                            <% } %>
                        </ul>
                    </li>
                    <% } %>
                    <% if (dashboard.videos[videoIndex].outOfClassExercises.length) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Exercícios
                            em aula</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <% for (let i = 0; i < dashboard.videos[videoIndex].outOfClassExercises.length; i++) { %>
                            <% if (dashboard.videos[videoIndex].outOfClassExercises[i]) { %>
                            <li><a class="dropdown-item"
                                    href="<%= dashboard.videos[videoIndex].outOfClassExercises[i] %>"
                                    target="_blank">Exercício fora de
                                    aula <%= i + 1 %></a></li>
                            <% } %>
                            <% } %>
                        </ul>
                    </li>
                    <% } %>
                    <% if (dashboard.forumUrl) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= dashboard.forumUrl %>" aria-disabled="true" target="_blank">Fórum
                            da
                            disciplina</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid pt-3 pb-3">
        <div class="row">
            <div class="col-3">
                <div class="container-fluid justify-content-center">
                    <div class="row mb-2">
                        <% if (chaptersData.length) { %>
                        <h5>Capítulos do vídeo</h5>
                        <div class="mb-3 ms-2" style="width: 30%; height: 1px; background-color: #555;"></div>
                        <ul id="chaptersList" class="list-group">
                            <% for (let i = 0; i < chaptersData.length; i++) { %>
                            <li class="list-group-item btn btn-link"
                                id="<%= 3600*chaptersData[i].timestamp[0] + 60*chaptersData[i].timestamp[1] + chaptersData[i].timestamp[2] %>">
                                <%= chaptersData[i].title %>
                            </li>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="row">
                        <h5>Aulas</h5>
                        <div class="mb-3 ms-2" style="width: 30%; height: 1px; background-color: #555;"></div>
                        <ul id="videosList" class="list-group">
                            <% for (let i = 0; i < dashboard.videos.length; i++) { %>
                            <li class="list-group-item btn btn-link""
                                id=" /courseDashboards/<%= dashboard._id %>/dash/<%= i %>">
                                <%= dashboard.videos[i].title %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/<%= dashboard.videos[videoIndex].videoId %>?rel=0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../js/videoControls.js">
    </script>
</body>

</html>