<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="application/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <title><%= dashboard.title %></title>
</head>

<body>
    <div class="container-fluid bg-secondary">
        <!-- Classes -->
        <div class="row py-2 px-5 bg-dark">
            <div class="col-12 col-lg-6 text-center text-lg-start">
                <a class="text-light btn btn-dark fs-5" aria-current="page" href="#"><%= dashboard.title %></a>
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle fs-5" id="aulas" data-bs-toggle="dropdown"
                        aria-expanded="false">Aulas</button>
                    <ul class="dropdown-menu" aria-labelledby="aulas">
                        <% if (dashboard.classes.length) { for (let i = 0; i < dashboard.classes.length; i++) { %>
                        <li><a class="dropdown-item fs-5"
                                href="/courseDashboards/<%= dashboard._id %>/dash/<%= i %>">Aula <%= i + 1 %>
                                <% if (dashboard.classes[i].title) { %>
                                : <%= dashboard.classes[i].title %>
                                <% } %></a>
                        </li>
                        <% }} %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Class parts -->
        <div class="row py-2">
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-secondary" aria-current="page" href="#preClassMaterial">Pré-aula</a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-secondary" aria-current="page" href="#forClassMaterial">Para
                    aula</a>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <a class="text-light btn btn-secondary" aria-current="page" href="#postClassMaterial">Pós-aula</a>
            </div>
        </div>
    </div>

    <main>
        <div id="preClassMaterial" class="container-fluid py-2" style="background-color: #ffab74;">
            <div class="row">
                <h1 class="col-12 text-center">Pré-aula</h1>
            </div>

            <!-- Pre-class material (essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Essencial</h2>
            </div>
            <%- include("./courseDashboardParts/essentialPreClass") %>

            <!-- Pre-class material (non-essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Não essencial</h2>
            </div>
            <%- include("./courseDashboardParts/nonEssentialPreClass") %>
        </div>

        <div id="forClassMaterial" class="container-fluid py-2" style="background-color: #ffe08a;">
            <div class="row">
                <h1 class="col-12 text-center">Para aula</h1>
            </div>

            <!-- For class material (essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Essencial</h2>
            </div>
            <%- include("./courseDashboardParts/essentialForClass") %>

            <!-- For class material (non-essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Não essencial</h2>
            </div>
            <%- include("./courseDashboardParts/nonEssentialForClass") %>
        </div>

        <div id="postClassMaterial" class="container-fluid py-2" style="background-color: #ffa7d0;">
            <div class="row">
                <h1 class="col-12 text-center">Pós-aula</h1>
            </div>

            <!-- Post-class material (essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Essencial</h2>
            </div>
            <%- include("./courseDashboardParts/essentialPostClass") %>

            <!-- Post-class material (non-essential) -->
            <div class="row">
                <h2 class="col-12">&#10148;&nbsp;Não essencial</h2>
            </div>
            <%- include("./courseDashboardParts/nonEssentialPostClass") %>
        </div>
    </main>

    <script src="../../../js/videoControls.js">
    </script>
    <script src="../../../js/disableBtns.js">
    </script>
</body>

</html>