<%- include("./partials/header") %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-light fs-4 mb-3 p-3 pe-4 shadow mb-5">
  <div class="container-fluid">
    <span class="me-3 mb-1 mb-xs-0 fs-3 text-light text-wrap">
      <%= dashboard.title %>
    </span>
    <button class="navbar-toggler mb-2 mb-xs-0 text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Expandir ou recolher barra de navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (typeof(dashboard.environmentUrl) !== 'undefined' && dashboard.environmentUrl.length) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard.environmentUrl %>">Ambiente da disciplina</a>
        </li>
        <% } %>
        <% if (typeof(dashboard.forumUrl) !== 'undefined' && dashboard.forumUrl.length) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard.forumUrl %>">Fórum</a>
        </li>
        <% } %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Aulas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if (dashboard.classes.length) { %>
            <% for (let i = 0; i < dashboard.classes.length; i++) { %>
            <li>
              <a class="dropdown-item" href="/courseDashboards/<%= dashboard._id %>/dash/<%= i %>">
                Aula <%= i + 1 %>
                <% if (dashboard.classes[i].title) { %>
                | <%= dashboard.classes[i].title %>
                <% } %>
              </a>
            </li>
            <% } %>
            <% } %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="px-4 text-light fs-5 text-center">
  <p>
    Você está visualizando o material <span id="shownMaterial" class="text-primary">de aula</span>. Selecione o material desejado:
  </p>
  <ul class="px-0">
    <li class="btn btn-secondary fs-5 mb-2 mb-sm-0" id="preClassBtn">Material pré-aula</li>
    <li class="btn btn-primary fs-5 mb-2 mb-sm-0" id="forClassBtn">Material de aula</li>
    <li class="btn btn-secondary fs-5 mb-2 mb-sm-0" id="postClassBtn">Material pós-aula</li>
  </ul>
</div>

<main class="container-fluid p-3">
  <h1 class="text-center text-uppercase mb-5 text-primary">
    Aula <%= parseInt(classIndex, 10) + 1 %>
  </h1>
  <section id="preClassMaterial" class="container-fluid py-3 px-1 px-md-5 rounded rounded-5 bg-light mb-3 d-none">
    <div class="row">
      <h1 class="col-12 text-center">Material pré-aula</h1>
    </div>

    <div class="row mx-2 mb-3 bg-primary" style="height: 3px;"></div>

    <!-- Pre-class material (essential) -->
    <div class="" style="background-color: coral;">
      <div class="row">
        <h2 class="col-12 p-3 text-center fs-1">Essencial</h2>
      </div>
      <%- include("./knowmiaCourseDashboardParts/essentialPreClass") %>
    </div>


    <!-- Pre-class material (non-essential) -->
    <div class="" style="background-color: coral;">
      <div class="row mt-3">
        <h2 class="col-12 p-3 text-center fs-1">Extra</h2>
      </div>
      <%- include("./knowmiaCourseDashboardParts/nonEssentialPreClass") %>
    </div>
  </section>

  <section id="forClassMaterial" class="container-fluid py-3 rounded rounded-5 bg-light mb-3">
    <div class="row">
      <h1 class="col-12 text-center">Material de aula</h1>
    </div>

    <div class="row mx-2 mb-3 bg-primary" style="height: 3px;"></div>

    <!-- For class material (essential) -->
    <div class="" style="background-color: coral;">
      <div class="row">
        <h2 class="col-12 p-3 text-center fs-1">Essencial</h2>
      </div>
      <%- include("./knowmiaCourseDashboardParts/essentialForClass") %>
    </div>

    <!-- For class material (non-essential) -->
    <div class="" style="background-color: coral;">
      <div class="row mt-3">
        <h2 class="col-12 p-3 text-center fs-1">Extra</h2>
      </div>
      <%- include("./knowmiaCourseDashboardParts/nonEssentialForClass") %>
    </div>
  </section>

  <section id="postClassMaterial" class="container-fluid py-3 rounded rounded-5 bg-light mb-3 d-none">
    <div class="row">
      <h1 class="col-12 text-center">Material pós-aula</h1>
    </div>

    <div class="row mx-2 mb-3 bg-primary" style="height: 3px;"></div>

    <!-- Post-class material (essential) -->
    <div class="" style="background-color: coral;">
      <div class="row">
        <h2 class="col-12 p-3 text-center fs-1">Essencial</h2>
      </div>
      <%- include("./knowmiaCourseDashboardParts/essentialPostClass") %>
    </div>

    <!-- Post-class material (non-essential) -->
    <div class="" style="background-color: coral;">
      <div class="row mt-3">
        <h2 class="col-12 p-3 text-center fs-1">Extra</h2>
      </div>
      <%- include("./knowmiaCourseDashboardParts/nonEssentialPostClass") %>
    </div>
  </section>
</main>

<footer class="p-4 text-light fs-5 text-center">
  <p>O DashGen é parte de um projeto acadêmico, por isso é importante o feedback do usuário. Ajude a melhorar o trabalho respondendo <a href="https://forms.gle/RwSbYLVqa35SMmkT7" target="_blank">este formulário</a>.</p>
</footer>

<script src="../../../js/knowmiaVideoControls.js"></script>
<script src="../../../js/disableBtns.js"></script>
<%- include("./partials/footer") %>