<%- include("./partials/header") %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-light fs-4 mb-3 p-3 pe-4">
  <div class="container-fluid">
    <span class="me-3 mb-1 mb-xs-0 fs-3 text-light text-wrap">
      <%= dashboard.title %>
    </span>
    <!-- <button class="navbar-toggler mb-2 mb-xs-0 text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Expandir ou recolher barra de navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vídeos</a>
          <ul class="dropdown-menu" aria-labelledby="videos-na-playlist">
            <% for (let i = 0; i < videos.length; i++) { %>
            <li class="list-group-item btn btn-link text-wrap video-btn fs-4" id="/playlistDashboards/<%= dashboard._id %>/dash/<%= i %>">
              <%= videos[i].title %>
            </li>
            <% } %>
          </ul>
        </li>
      </ul>
    </div> -->
  </div>
</nav>

<div class="container-fluid py-3 px-4">
  <div class="row">
    <div class="col-12 col-md-9 py-2">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/<%= videos[classIndex].videoId %>?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 col-md-3 py-2">
      <div class="justify-content-center">
        <div class="mb-2">
          <% if (chaptersData.length) { %>
          <div class="dropdown mb-1">
            <button class="btn btn-light dropdown-toggle w-100 fs-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Capítulos do vídeo
            </button>
            <ul class="dropdown-menu" aria-labelledby="capitulos-video">
              <% for (let i = 0; i < chaptersData.length; i++) { %>
              <li class="list-group-item btn btn-link text-wrap chapter-btn fs-4" id="<%= 3600*chaptersData[i].timestamp[0] + 60*chaptersData[i].timestamp[1] + chaptersData[i].timestamp[2] %>">
                <%= chaptersData[i].title %>
              </li>
              <% } %>
            </ul>
          </div>
          <% } else { %>
          <p class="p-2 fs-5 text-light text-center">Este vídeo não está separado em capítulos.</p>
          <% } %>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle w-100 fs-4" href="#" id="navbarDropdownMenuLink" type="button" data-bs-toggle="dropdown" aria-expanded="false">Vídeos</button>
            <ul class="dropdown-menu" aria-labelledby="videos-na-playlist">
              <% for (let i = 0; i < videos.length; i++) { %>
              <li class="list-group-item btn btn-link text-wrap video-btn fs-4" id="/playlistDashboards/<%= dashboard._id %>/dash/<%= i %>">
                <%= videos[i].title %>
              </li>
              <% } %>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<footer class="p-4 text-light fs-5 text-center">
  <p>O DashGen é parte de um projeto acadêmico, por isso é importante o feedback do usuário. Ajude a melhorar o trabalho respondendo <a href="https://forms.gle/RwSbYLVqa35SMmkT7" target="_blank">este formulário</a>.</p>
</footer>
<script src="../../../js/dashboardControls.js"></script>
<%- include("./partials/footer") %>