<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<link rel="stylesheet" type="text/css" href="/css/editClass.css">

<a href="/courseDashboards/<%= dashboard._id %>" class="btn btn-primary mb-3 fs-5">Voltar para editar
    dashboard</a>

<h1>Adicionar materiais de apoio (<%= dashboard.title %>)
</h1>

<form action="/courseDashboards/<%= dashboard._id %>/classes/<%= classNum %>?_method=PUT" method="POST" class="mb-3">

    <input type="number" name="thisClass[classNumber]" value="<%= classNum %>" class="d-none">

    <label for="title" class="form-label fs-4">Título da aula:</label>

    <% if (dashboard.classes[classNum]) { %>
    <input type="text" class="form-control mb-3" name="thisClass[title]" id="title" aria-describedby="dashboard title"
        value="<%= dashboard.classes[classNum].title %>">
    <% } else { %>
    <input type="text" class="form-control mb-3" name="thisClass[title]" id="title" aria-describedby="dashboard title">
    <% } %>

    <div class="d-flex justify-content-center">
        <h2 class="text-center carousel-block-1 d-inline-block rounded p-1">Materiais pré-aula</h2>
    </div>

    <%- include('./preClassCarousel') %>

    <div class="d-flex justify-content-center">
        <h2 class="text-center carousel-block-2 d-inline-block rounded p-1">Materiais para a aula</h2>
    </div>
    
    <%- include('./forClassCarousel') %>

    <div class="d-flex justify-content-center">
        <h2 class="text-center carousel-block-3 d-inline-block rounded p-1">Materiais pós-aula</h2>
    </div>

    <%- include('./postClassCarousel') %>

    <button type="submit" class="btn btn-success">Salvar</button>
    </form>

<form action="/courseDashboards/<%= dashboard._id %>/classes/<%= classNum %>?_method=DELETE" method="POST">
    <button class="btn btn-danger" type="submit">Deletar
        aula<span class="visually-hidden"> (cuidado)</span></button>
</form>

<a href="/courseDashboards/<%= dashboard._id %>" class="btn btn-primary mt-3">Voltar</a>

<%- include('../partials/footer'); -%>