<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<% if (dashboards.length) { %>

<h1 class="mb-4 text-center">Meus dashboards de curso (YouTube)</h1>

<div aria-label="meus-dashboards-de-curso">
  <% for (let dashboard of dashboards) { %>
  <div class="card border-2 mb-3 p-5 d-flex flex-column justify-content-between" style="background-color: coral;">
    <h2 class="card-title fs-2">
      <%= dashboard.title %>
    </h2>
    <ul role="menubar" class="card-body" aria-label="ações-do-dashboard-<%= dashboard.title %>" id="<%= dashboard.title %>actions">
      <% if (typeof dashboard.environmentUrl !=='undefined' && dashboard.environmentUrl !=='' ) { %>
      <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" target="_blank" href="<%= dashboard.environmentUrl %>">
          Ambiente da disciplina<span class="visually-hidden"> do dashboard <%= dashboard.title %></span>
        </a></li>
      <% } %>
      <% if (typeof dashboard.forumUrl !=='undefined' && dashboard.forumUrl !=='' ) { %>
      <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" target="_blank" href="<%= dashboard.forumUrl %>">
          Fórum da disciplina<span class="visually-hidden"> do dashboard <%= dashboard.title %></span>
        </a></li>
      <% } %>
      <% if (typeof dashboard.playlistId !=='undefined' && dashboard.playlistId !=='' ) { %>
      <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" target="_blank" href="https://youtube.com/playlist?list=<%= dashboard.playlistId %>">
          Playlist do curso<span class="visually-hidden"> do dashboard <%= dashboard.title %>
          </span>
        </a></li>
      <% } %>
      <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" href="/courseDashboards/<%= dashboard._id %>">
          Editar dashboard<span class="visually-hidden">
            <%= dashboard.title %>
          </span>
        </a></li>
      <li class="d-inline" role="menuitem"><a class="btn btn-primary mb-3 mb-xlg-0" target="_blank" href="/courseDashboards/<%= dashboard._id %>/dash/0">
          Ver dashboard<span class="visually-hidden">
            <%= dashboard.title %>
          </span>
        </a></li>
    </ul>
  </div>
  <% } %>
</div>

<% } else { %>
Parece que você ainda não tem nenhum dashboard de curso utilizando uma playlist do YouTube, gostaria de criar um? <a href="/courseDashboards/new">Criar
  dashboard de curso.</a>
<% } %>

<%- include('../partials/footer'); -%>