<div class="row px-3" id="forCEvideoContent">
  <div class="col-12 col-lg-3 px-4">
    <div class="container-fluid px-0">
      <!-- Video 0 chapters -->
      <% if (chaptersData.forCEchaptersData0 && chaptersData.forCEchaptersData0.length) { %>
      <div class="row dropdown mb-1" id="forCEchaptersDropdown0">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Capítulos do vídeo
        </button>
        <ul class="dropdown-menu" aria-labelledby="capitulos-video" id="forCEchaptersList0">
          <% for (let i = 0; i < chaptersData.forCEchaptersData0.length; i++) { %>
          <li class="dropdown-item btn btn-link text-wrap" id="<%= 3600*chaptersData.forCEchaptersData0[i].timestamp[0] + 60*chaptersData.forCEchaptersData0[i].timestamp[1] + chaptersData.forCEchaptersData0[i].timestamp[2] %>">
            <%= chaptersData.forCEchaptersData0[i].title %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>

      <!-- Video 1 chapters -->
      <% if (chaptersData.forCEchaptersData1 && chaptersData.forCEchaptersData1.length) { %>
      <div class="row dropdown mb-1 d-none" id="forCEchaptersDropdown1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Capítulos do vídeo
        </button>
        <ul class="dropdown-menu" aria-labelledby="capitulos-video" id="forCEchaptersList1">
          <% for (let i = 0; i < chaptersData.forCEchaptersData1.length; i++) { %>
          <li class="dropdown-item btn btn-link text-wrap" id="<%= 3600*chaptersData.forCEchaptersData1[i].timestamp[0] + 60*chaptersData.forCEchaptersData1[i].timestamp[1] + chaptersData.forCEchaptersData1[i].timestamp[2] %>">
            <%= chaptersData.forCEchaptersData1[i].title %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>

      <!-- Video 2 chapters -->
      <% if (chaptersData.forCEchaptersData2 && chaptersData.forCEchaptersData2.length) { %>
      <div class="row dropdown mb-1 d-none" id="forCEchaptersDropdown2">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Capítulos do vídeo
        </button>
        <ul class="dropdown-menu" aria-labelledby="capitulos-video" id="forCEchaptersList2">
          <% for (let i = 0; i < chaptersData.forCEchaptersData2.length; i++) { %>
          <li class="dropdown-item btn btn-link text-wrap" id="<%= 3600*chaptersData.forCEchaptersData2[i].timestamp[0] + 60*chaptersData.forCEchaptersData2[i].timestamp[1] + chaptersData.forCEchaptersData2[i].timestamp[2] %>">
            <%= chaptersData.forCEchaptersData2[i].title %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>

      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Vídeos
        </button>
        <ul class="dropdown-menu" aria-labelledby="para-aula-essencial-videos">
          <% for (let i = 0; i < dashboard.classes[classIndex].forClassMaterial.essential.video.length; i++) { %>
          <% if (dashboard.classes[classIndex].forClassMaterial.essential.video[i] !== '') { %>
          <li><button class="dropdown-item" id="forCEvideo<%= i %>" value="https://www.youtube.com/embed/<%= dashboard.classes[classIndex].forClassMaterial.essential.video[i] %>?rel=0">
              Vídeo <%= i + 1 %>
            </button></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Slides -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="para-aula-essencial-slides" data-bs-toggle="dropdown" aria-expanded="false">
          Slides
        </button>
        <ul class="dropdown-menu" aria-labelledby="para-aula-essencial-slides">
          <% for (let i = 0; i < dashboard.classes[classIndex].forClassMaterial.essential.slide.length; i++) { %>
          <% if (dashboard.classes[classIndex].forClassMaterial.essential.slide[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].forClassMaterial.essential.slide[i] %>">
              Slide <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Exercises lists -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="para-aula-essencial-listas-de-exercicios" data-bs-toggle="dropdown" aria-expanded="false">
          Listas de exercícios
        </button>
        <ul class="dropdown-menu" aria-labelledby="para-aula-essencial-listas-de-exercicios">
          <% for (let i = 0; i < dashboard.classes[classIndex].forClassMaterial.essential.exerciseList.length; i++) { %>
          <% if (dashboard.classes[classIndex].forClassMaterial.essential.exerciseList[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].forClassMaterial.essential.exerciseList[i] %>">
              Lista <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Readings -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="para-aula-essencial-leituras" data-bs-toggle="dropdown" aria-expanded="false">
          Leituras
        </button>
        <ul class="dropdown-menu" aria-labelledby="para-aula-essencial-leituras">
          <% for (let i = 0; i < dashboard.classes[classIndex].forClassMaterial.essential.reading.length; i++) { %>
          <% if (dashboard.classes[classIndex].forClassMaterial.essential.reading[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].forClassMaterial.essential.reading[i] %>">
              Leitura <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Quizzes -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="para-aula-essencial-questionarios" data-bs-toggle="dropdown" aria-expanded="false">
          Quizzes
        </button>
        <ul class="dropdown-menu" aria-labelledby="para-aula-essencial-questionarios">
          <% for (let i = 0; i < dashboard.classes[classIndex].forClassMaterial.essential.quizz.length; i++) { %>
          <% if (dashboard.classes[classIndex].forClassMaterial.essential.quizz[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].forClassMaterial.essential.quizz[i] %>">
              Quizz <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- External links -->
      <div class="row dropdown">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="para-aula-essencial-links-externos" data-bs-toggle="dropdown" aria-expanded="false">
          Links externos
        </button>
        <ul class="dropdown-menu" aria-labelledby="para-aula-essencial-links-externos">
          <% for (let i = 0; i < dashboard.classes[classIndex].forClassMaterial.essential.externalLink.length; i++) { %>
          <% if (dashboard.classes[classIndex].forClassMaterial.essential.externalLink[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].forClassMaterial.essential.externalLink[i] %>">
              Link <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-9 py-2 py-lg-0 px-0 px-lg-2">
    <% if (dashboard.classes[classIndex].forClassMaterial.essential.video[0] !== '') { %>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/<%= dashboard.classes[classIndex].forClassMaterial.essential.video[0] %>?rel=0" title="YouTube video" id="forCEvideo" allowfullscreen></iframe>
    </div>
    <% } else { %>
    <p class="text-center fs-4">Não há um vídeo para mostrar aqui.</p>
    <iframe src="" title="YouTube video" id="forCEvideo" allowfullscreen></iframe>
    <% } %>
  </div>
</div>