<div class="row px-3" id="postCNEvideoContent">
  <div class="col-12 col-lg-3">
    <div class="container-fluid px-0">
      <!-- Video 0 chapters -->
      <% if (chaptersData.postCNEchaptersData0 && chaptersData.postCNEchaptersData0.length) { %>
      <div class="row dropdown mb-1" id="postCNEchaptersDropdown0">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Capítulos do vídeo
        </button>
        <ul class="dropdown-menu" aria-labelledby="capitulos-video" id="postCNEchaptersList0">
          <% for (let i = 0; i < chaptersData.postCNEchaptersData0.length; i++) { %>
          <li class="dropdown-item btn btn-link text-wrap" id="<%= 3600*chaptersData.postCNEchaptersData0[i].timestamp[0] + 60*chaptersData.postCNEchaptersData0[i].timestamp[1] + chaptersData.postCNEchaptersData0[i].timestamp[2] %>">
            <%= chaptersData.postCNEchaptersData0[i].title %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>

      <!-- Video 1 chapters -->
      <% if (chaptersData.postCNEchaptersData1 && chaptersData.postCNEchaptersData1.length) { %>
      <div class="row dropdown mb-1 d-none" id="postCNEchaptersDropdown1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Capítulos do vídeo
        </button>
        <ul class="dropdown-menu" aria-labelledby="capitulos-video" id="postCNEchaptersList1">
          <% for (let i = 0; i < chaptersData.postCNEchaptersData1.length; i++) { %>
          <li class="dropdown-item btn btn-link text-wrap" id="<%= 3600*chaptersData.postCNEchaptersData1[i].timestamp[0] + 60*chaptersData.postCNEchaptersData1[i].timestamp[1] + chaptersData.postCNEchaptersData1[i].timestamp[2] %>">
            <%= chaptersData.postCNEchaptersData1[i].title %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>

      <!-- Video 2 chapters -->
      <% if (chaptersData.postCNEchaptersData2 && chaptersData.postCNEchaptersData2.length) { %>
      <div class="row dropdown mb-1 d-none" id="postCNEchaptersDropdown2">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Capítulos do vídeo
        </button>
        <ul class="dropdown-menu" aria-labelledby="capitulos-video" id="postCNEchaptersList2">
          <% for (let i = 0; i < chaptersData.postCNEchaptersData2.length; i++) { %>
          <li class="dropdown-item btn btn-link text-wrap" id="<%= 3600*chaptersData.postCNEchaptersData2[i].timestamp[0] + 60*chaptersData.postCNEchaptersData2[i].timestamp[1] + chaptersData.postCNEchaptersData2[i].timestamp[2] %>">
            <%= chaptersData.postCNEchaptersData2[i].title %>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>

      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Vídeos
        </button>
        <ul class="dropdown-menu" aria-labelledby="pos-aula-nao-essencial-videos">
          <% for (let i = 0; i < dashboard.classes[classIndex].postClassMaterial.nonEssential.video.length; i++) { %>
          <% if (dashboard.classes[classIndex].postClassMaterial.nonEssential.video[i] !== '') { %>
          <li><button class="dropdown-item" id="postCNEvideo<%= i %>" value="https://www.youtube.com/embed/<%= dashboard.classes[classIndex].postClassMaterial.nonEssential.video[i] %>?rel=0">
              Vídeo <%= i + 1 %>
            </button></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Slides -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="pos-aula-nao-essencial-slides" data-bs-toggle="dropdown" aria-expanded="false">
          Slides
        </button>
        <ul class="dropdown-menu" aria-labelledby="pos-aula-nao-essencial-slides">
          <% for (let i = 0; i < dashboard.classes[classIndex].postClassMaterial.nonEssential.slide.length; i++) { %>
          <% if (dashboard.classes[classIndex].postClassMaterial.nonEssential.slide[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].postClassMaterial.nonEssential.slide[i] %>">
              Slide <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Exercises lists -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="pos-aula-nao-essencial-listas-de-exercicios" data-bs-toggle="dropdown" aria-expanded="false">
          Listas de exercícios
        </button>
        <ul class="dropdown-menu" aria-labelledby="pos-aula-nao-essencial-listas-de-exercicios">
          <% for (let i = 0; i < dashboard.classes[classIndex].postClassMaterial.nonEssential.exerciseList.length; i++) { %>
          <% if (dashboard.classes[classIndex].postClassMaterial.nonEssential.exerciseList[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].postClassMaterial.nonEssential.exerciseList[i] %>">
              Lista <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Readings -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="pos-aula-nao-essencial-leituras" data-bs-toggle="dropdown" aria-expanded="false">
          Leituras
        </button>
        <ul class="dropdown-menu" aria-labelledby="pos-aula-nao-essencial-leituras">
          <% for (let i = 0; i < dashboard.classes[classIndex].postClassMaterial.nonEssential.reading.length; i++) { %>
          <% if (dashboard.classes[classIndex].postClassMaterial.nonEssential.reading[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].postClassMaterial.nonEssential.reading[i] %>">
              Leitura <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- Quizzes -->
      <div class="row dropdown mb-1">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="pos-aula-nao-essencial-questionarios" data-bs-toggle="dropdown" aria-expanded="false">
          Quizzes
        </button>
        <ul class="dropdown-menu" aria-labelledby="pos-aula-nao-essencial-questionarios">
          <% for (let i = 0; i < dashboard.classes[classIndex].postClassMaterial.nonEssential.quizz.length; i++) { %>
          <% if (dashboard.classes[classIndex].postClassMaterial.nonEssential.quizz[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].postClassMaterial.nonEssential.quizz[i] %>">
              Quizz <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <!-- External links -->
      <div class="row dropdown">
        <button class="btn btn-dark dropdown-toggle w-100" type="button" id="pos-aula-nao-essencial-links-externos" data-bs-toggle="dropdown" aria-expanded="false">
          Links externos
        </button>
        <ul class="dropdown-menu" aria-labelledby="pos-aula-nao-essencial-links-externos">
          <% for (let i = 0; i < dashboard.classes[classIndex].postClassMaterial.nonEssential.externalLink.length; i++) { %>
          <% if (dashboard.classes[classIndex].postClassMaterial.nonEssential.externalLink[i] !== '') { %>
          <li><a target="_blank" class="dropdown-item" href="<%= dashboard.classes[classIndex].postClassMaterial.nonEssential.externalLink[i] %>">
              Link <%= i + 1 %>
            </a></li>
          <% } %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-9 py-2 py-lg-0 px-0 px-lg-2">
    <% if (dashboard.classes[classIndex].postClassMaterial.nonEssential.video[0] !== '') { %>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/<%= dashboard.classes[classIndex].postClassMaterial.nonEssential.video[0] %>?rel=0" title="YouTube video" id="postCNEvideo" allowfullscreen></iframe>
    </div>
    <% } else { %>
    <p class="text-center fs-4">Não há um vídeo para mostrar aqui.</p>
    <iframe src="" title="YouTube video" id="postCNEvideo" allowfullscreen></iframe>
    <% } %>
  </div>
</div>