<h4 class="fs-3 mt-5">Vídeos</h4>
<% for (let i = 0; i < 3; i++) { %>
<label for="video<%= i %>" class="form-label  fs-4">Vídeo <%= i + 1 %></label>
<select class="form-select mb-1" aria-label="Select video"
    name="thisClass[postClassMaterial][nonEssential][video][<%= i %>]" id="postC_NE_video<%= i %>">
    <% if (dashboard.classes[classNum]) { %>
    <% if (dashboard.classes[classNum].postClassMaterial.nonEssential.video[i]) { %>
    <option value="">Nenhum</option>
    <% for (let video of videos) { %>
    <% if (video.videoId === dashboard.classes[classNum].postClassMaterial.nonEssential.video[i]){ %>
    <option selected value="<%= video.videoId %>">
        <%= video.title %>
    </option>
    <% } else {  %>
    <option value="<%= video.videoId %>">
        <%= video.title %>
    </option>
    <% } %>
    <% } %>
    <% } else { %>
    <option selected value="">Nenhum</option>
    <% for (let video of videos) { %>
    <option value="<%= video.videoId %>">
        <%= video.title %>
    </option>
    <% } %>
    <% } %>
    <% } else { %>
    <option selected value="">Nenhum</option>
    <% for (let video of videos) { %>
    <option value="<%= video.videoId %>">
        <%= video.title %>
    </option>
    <% } %>
    <% } %>
</select>
<% } %>
<h4 class="fs-3 mt-5">Slides</h4>
<% for (let i = 0; i < 3; i++)  { %>
<label for="postC_NE_slide<%= i %>" class="form-label  fs-4">URL do slide <%= i + 1 %></label>
<% if (dashboard.classes[classNum]) { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][slide][<%= i %>]"
    id="postC_NE_slide<%= i %>" value="<%= dashboard.classes[classNum].postClassMaterial.nonEssential.slide[i] %>">
<% } else { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][slide][<%= i %>]"
    id="postC_NE_slide<%= i %>">
<% } %>
<% } %>
<h4 class="fs-3 mt-5">Listas de exercícios</h4>
<% for (let i = 0; i < 3; i++)  { %>
<label for="postC_NE_lista<%= i %>" class="form-label  fs-4">URL da lista <%= i + 1 %></label>
<% if (dashboard.classes[classNum]) { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][exerciseList][<%= i %>]"
    id="postC_NE_lista<%= i %>"
    value="<%= dashboard.classes[classNum].postClassMaterial.nonEssential.exerciseList[i] %>">
<% } else { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][exerciseList][<%= i %>]"
    id="postC_NE_lista<%= i %>">
<% } %>
<% } %>
<h4 class="fs-3 mt-5">Leituras</h4>
<% for (let i = 0; i < 3; i++)  { %>
<label for="postC_NE_leitura<%= i %>" class="form-label  fs-4">URL da leitura <%= i + 1 %></label>
<% if (dashboard.classes[classNum]) { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][reading][<%= i %>]"
    id="postC_NE_leitura<%= i %>" value="<%= dashboard.classes[classNum].postClassMaterial.nonEssential.reading[i] %>">
<% } else { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][reading][<%= i %>]"
    id="postC_NE_leitura<%= i %>">
<% } %>
<% } %>
<h4 class="fs-3 mt-5">Quizzes</h4>
<% for (let i = 0; i < 3; i++)  { %>
<label for="postC_NE_quizz<%= i %>" class="form-label  fs-4">URL do quizz <%= i + 1 %></label>
<% if (dashboard.classes[classNum]) { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][quizz][<%= i %>]"
    id="postC_NE_quizz<%= i %>" value="<%= dashboard.classes[classNum].postClassMaterial.nonEssential.quizz[i] %>">
<% } else { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][quizz][<%= i %>]"
    id="postC_NE_quizz<%= i %>">
<% } %>
<% } %>
<h4 class="fs-3 mt-5">Links externos</h4>
<% for (let i = 0; i < 3; i++)  { %>
<label for="postC_NE_link<%= i %>" class="form-label  fs-4">URL do link externo
    <%= i + 1 %></label>
<% if (dashboard.classes[classNum]) { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][externalLink][<%= i %>]"
    id="postC_NE_link<%= i %>"
    value="<%= dashboard.classes[classNum].postClassMaterial.nonEssential.externalLink[i] %>">
<% } else { %>
<input class="form-control mb-1" name="thisClass[postClassMaterial][nonEssential][externalLink][<%= i %>]"
    id="postC_NE_link<%= i %>">
<% } %>
<% } %>