<h4 class="fs-3 mt-5">Vídeos</h4>
<% for (let i = 0; i < 5; i++) { %>
<label for="PreC_E_video<%= i %>" class="form-label fs-4"
  >Vídeo <%= i + 1 %></label
>
<select
  class="form-select mb-1"
  aria-label="Select video"
  name="thisClass[preClassMaterial][essential][video][<%= i %>]"
  id="PreC_E_video<%= i %>"
>
  <% if (dashboard.classes[classNum]) { %> <% if
  (dashboard.classes[classNum].preClassMaterial.essential.video[i]) { %>
  <option value="">Nenhum</option>
  <% for (let video of videos) { %> <% if (video.videoId ===
  dashboard.classes[classNum].preClassMaterial.essential.video[i]){ %>
  <option selected value="<%= video.videoId %>"><%= video.title %></option>
  <% } else { %>
  <option value="<%= video.videoId %>"><%= video.title %></option>
  <% } %> <% } %> <% } else { %>
  <option selected value="">Nenhum</option>
  <% for (let video of videos) { %>
  <option value="<%= video.videoId %>"><%= video.title %></option>
  <% } %> <% } %> <% } else { %>
  <option selected value="">Nenhum</option>
  <% for (let video of videos) { %>
  <option value="<%= video.videoId %>"><%= video.title %></option>
  <% } %> <% } %>
</select>
<% } %>
<h4 class="fs-3 mt-5">Slides</h4>
<% for (let i = 0; i < 5; i++) { %>
<label for="PreC_E_slide<%= i %>" class="form-label fs-4"
  >URL do slide <%= i + 1 %></label
>
<% if (dashboard.classes[classNum]) { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][slide][<%= i %>]"
  id="PreC_E_slide<%= i %>"
  value="<%= dashboard.classes[classNum].preClassMaterial.essential.slide[i] %>"
/>
<% } else { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][slide][<%= i %>]"
  id="PreC_E_slide<%= i %>"
/>
<% } %> <% } %>
<h4 class="fs-3 mt-5">Listas de exercícios</h4>
<% for (let i = 0; i < 5; i++) { %>
<label for="PreC_E_lista<%= i %>" class="form-label fs-4"
  >URL da lista <%= i + 1 %></label
>
<% if (dashboard.classes[classNum]) { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][exerciseList][<%= i %>]"
  id="PreC_E_lista<%= i %>"
  value="<%= dashboard.classes[classNum].preClassMaterial.essential.exerciseList[i] %>"
/>
<% } else { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][exerciseList][<%= i %>]"
  id="PreC_E_lista<%= i %>"
/>
<% } %> <% } %>
<h4 class="fs-3 mt-5">Leituras</h4>
<% for (let i = 0; i < 5; i++) { %>
<label for="PreC_E_leitura<%= i %>" class="form-label fs-4"
  >URL da leitura <%= i + 1 %></label
>
<% if (dashboard.classes[classNum]) { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][reading][<%= i %>]"
  id="PreC_E_leitura<%= i %>"
  value="<%= dashboard.classes[classNum].preClassMaterial.essential.reading[i] %>"
/>
<% } else { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][reading][<%= i %>]"
  id="PreC_E_leitura<%= i %>"
/>
<% } %> <% } %>
<h4 class="fs-3 mt-5">Quizzes</h4>
<% for (let i = 0; i < 5; i++) { %>
<label for="PreC_E_quizz<%= i %>" class="form-label fs-4"
  >URL do quizz <%= i + 1 %></label
>
<% if (dashboard.classes[classNum]) { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][quizz][<%= i %>]"
  id="PreC_E_quizz<%= i %>"
  value="<%= dashboard.classes[classNum].preClassMaterial.essential.quizz[i] %>"
/>
<% } else { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][quizz][<%= i %>]"
  id="PreC_E_quizz<%= i %>"
/>
<% } %> <% } %>
<h4 class="fs-3 mt-5">Links externos</h4>
<% for (let i = 0; i < 5; i++) { %>
<label for="PreC_E_link<%= i %>" class="form-label fs-4"
  >URL do link externo <%= i + 1 %></label
>
<% if (dashboard.classes[classNum]) { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][externalLink][<%= i %>]"
  id="PreC_E_link<%= i %>"
  value="<%= dashboard.classes[classNum].preClassMaterial.essential.externalLink[i] %>"
/>
<% } else { %>
<input
  class="form-control mb-1"
  name="thisClass[preClassMaterial][essential][externalLink][<%= i %>]"
  id="PreC_E_link<%= i %>"
/>
<% } %> <% } %>
